---


import Post from "../components/Post.jsx"


---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href={Astro.resolve("../assets/style/global.css")} >
	<meta name="viewport" content="width=device-width" />
	<title>Zach is cool</title>
	
</head>

<body>

<Post  />


</body>

</html>
